body {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #ececec;
  max-width: 400px;
  width: 100%;
  overflow-y: auto;
  border-radius: 15px;
  padding-top: 60px;
  gap: 20px;
  padding-bottom: 110px;
  position: relative;
}
.top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  z-index: 5;
  background-color: #ececec;
  position: fixed;
  left: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  transform: translateX(-50%);
  top: 0;
  padding-inline: 20px;
}
.top-box img {
  max-width: 30px;
  object-fit: contain;
}
.box-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--gradient-banner);
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  gap: 20px;
  position: relative;
  isolation: isolate;
}
.box-wrapper {
  width: 100%;
  padding-inline: 10px;
}
.banner-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: soft-light;
  z-index: -1;
}
.top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.search,
.top-banner img {
  width: 50%;
}
.search {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.input-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100vh;
}
.input-div input {
  width: 83%;
  background-color: transparent;
  border: none;
  height: 100%;
  padding-left: 10px;
}
.input-div input:focus {
  outline: none;
}
.input-div svg {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  color: white;
}

.top-banner img {
  object-fit: contain;
}
.banner-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.search h1 {
  font-size: 25px;
  color: white;
  line-height: 1.2;
  margin-top: 10px;
}
.banner-row .wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
}
.banner-row .wrapper img {
  max-width: 30px;
  height: 100%;
  object-fit: contain;
}
.faq-part {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  padding-inline: 10px;
}
.faq-part h1 {
  color: #414141;
  font-size: 27px;
}
.bottom-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 10px 10px;
  margin-top: 20px;
  position: fixed;
  max-width: 400px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.bottom-nav img {
  max-width: 30px;
  object-fit: contain;
}
.bottom-nav svg {
  position: relative;
  bottom: 30px;
  background: var(--gradient);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  color: white;
}
